extends ../layout/layout.pug
block vars
	- var title = 'Вход';
block header
	include ../includes/header.pug
block content
	include ../includes/content-auth.pug
block footer
	include ../includes/footer.pug