extends ../layout/layout.pug
block vars
	- var title = 'Восстановление пароля';
block header
	include ../includes/header.pug
block content
	include ../includes/content-code.pug
block footer
	include ../includes/footer.pug