extends ../layout/layout.pug
block vars
	- var title = 'Подписание договора';
block header
	include ../includes/header-lk.pug
block content
	include ../includes/content-contract.pug
block footer
	include ../includes/footer.pug