extends ../layout/layout.pug
block vars
	- var title = 'Детальная страница заявки';
block header
	include ../includes/header-admin.pug
block content
	include ../includes/content-detail-order.pug
block footer
	include ../includes/footer.pug