extends ../layout/layout.pug
block vars
	- var title = 'Форма подачи заявки на подключение к системе теплоснабжения';
block header
	include ../includes/header-lk.pug
block content
	include ../includes/content-form.pug
block footer
	include ../includes/footer.pug