extends ../layout/layout.pug
block vars
	- var title = 'Вход';
block header
	include ../includes/header-lk.pug
block content
	include ../includes/content-form5.pug
block footer
	include ../includes/footer.pug