extends ../layout/layout.pug
block vars
	- var title = 'Список заявок';
block header
	include ../includes/header-admin.pug
block content
	include ../includes/content-list-orders.pug
block footer
	include ../includes/footer.pug