extends ../layout/layout.pug
block vars
	- var title = 'Личный кабинет - главная страница';
block header
	include ../includes/header-lk.pug
block content
	include ../includes/content-lk.pug
block footer
	include ../includes/footer.pug