extends ../layout/layout.pug
block vars
	- var title = 'Восстановление пароля';
block header
	include ../includes/header.pug
block content
	include ../includes/content-new-password-success.pug
block footer
	include ../includes/footer.pug