extends ../layout/layout.pug
block vars
	- var title = 'Страница профиля пользователя';
block header
	include ../includes/header-lk.pug
block content
	include ../includes/content-profile.pug
block footer
	include ../includes/footer.pug