extends ../layout/layout.pug
block vars
	- var title = 'Регистрация Юридическое лицо';
block header
	include ../includes/header.pug
block content
	include ../includes/content-reg-yur.pug
block footer
	include ../includes/footer.pug