extends ../layout/layout.pug
block vars
	- var title = 'Статус заявок и договоров';
block header
	include ../includes/header-lk.pug
block content
	include ../includes/content-statuses.pug
block footer
	include ../includes/footer.pug