.page
	.container
		.wrapper 
			h1.h1 Входа / Регистрации
			.main-links
				a(href="reg-fiz.html") Физическое лицо
				a(href="reg-ip.html") Индивидуальный предприниматель
				a(href="reg-yur.html") Юридическое лицо
			a.button.button_small-font(href="auth.html") Уже зарегистрированы? Войти
							