.page
	.container 
		.sidebar 
			.menu 
				ul 
					li 
						a(href="") Главная страница
					li 
						a(href="") Заявка на подключение
					li 
						a(href="") Запрос технических условий
					li 
						a(href="") Документы и договоры
					li 
						a(href="") Мои заявки
		.content
			h1.h1 Главная страница
			.content-blocks
				a.content-block(href="")
					span.content-block__icon 
						img(src="" alt="")
					span.content-block__name 