.page
	.container
		.wrapper 
			h1.h1 Код подтверждения отправлен
			form(action="")
				.form 
					.form-block 
						label.form-label Новый пароль
						input.form-input(type="password" value="" name="" placeholder="Пароль")
					.form-block 
						label.form-label Повторите новый пароль
						input.form-input(type="password" value="" name="" placeholder="Пароль")
					.form-buttons
						button.button(type="submit") Сменить пароль