.page
	.container
		.wrapper 
			h1.h1 Восстановления пароля
			form(action="")
				.form 
					.form-block 
						label.form-label Введите СНИЛС если вы Физическое лицо<br>ИНН если вы Юридическое лицо<br>ОГРНИП если вы Индивидуальный предприниматель
						input.form-input(type="text" value="" name="" placeholder="")
					.form-buttons
						button.button(type="submit") Отправить код