.page
      .content
        .content__inner
          h1.h1 Список заявок
          .content-statuses__sort-title Фильтры и сортировка:
          .content-statuses__top-admin
              select.form-select(name="") 
                option По типу заявки
                option По типу заявки
                option По типу заявки
              .search 
                form(action="")
                  input(type="text" value="" placeholder="Поиск по ФИО, ИНН, номеру заявки") 
          .content-statuses 
            .content-statuses__scroll
              .content-statuses__table.statuses-table.statuses-table_details.content-statuses__table_admin
                .statuses-table__row.statuses-table__row_6.statuses-table__row_head
                  .statuses-table__td Тип заявки
                  .statuses-table__td Пользователь
                  .statuses-table__td Дата подачи
                  .statuses-table__td Статус
                  .statuses-table__td Комментарий
                  .statuses-table__td &nbsp;
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее
                .statuses-table__row.statuses-table__row_6
                  .statuses-table__td Подключение
                  .statuses-table__td Смирнов А.В.
                  .statuses-table__td 12.09.2019 - 12.53
                  .statuses-table__td 
                    .status.status_green Исполнено
                  .statuses-table__td Договор подписан и размещён в личном кабинете
                  .statuses-table__td 
                    a(href="") Подробнее

