.page
	.container 
		h1.h1 Список страниц
		ul 
			li
				a(href="index.html") Главная
			li
				a(href="auth.html") Вход
			li
				a(href="reg-fiz.html") Регистрация Физическое лицо
			li
				a(href="reg-ip.html") Регистрация Индивидуальный предприниматель
			li
				a(href="reg-yur.html") Регистрация Юридическое лицо
			li
				a(href="lk.html") Личный кабинет Главная страница
			li
				a(href="profile.html") Страница профиля пользователя
			li
				a(href="form.html") Форма подачи заявки на подключение к системе теплоснабжения
			li
				a(href="statuses.html") Статус заявок и договоров
			li
				a(href="order.html") Детальная страница заявки
			li
				a(href="contract.html") Подписание договора
			li
				a(href="list-orders.html") Список заявок - оператору
			li
				a(href="detail-order.html") Детальная страница заявки - оператору