.page
	.container 
		h1.h1 Список страниц
		ul 
			li
				a(href="index.html") Главная
			li
				a(href="auth.html") Вход
			li
				a(href="reg-fiz.html") Регистрация Физическое лицо
			li
				a(href="reg-ip.html") Регистрация Индивидуальный предприниматель
			li
				a(href="reg-yur.html") Регистрация Юридическое лицо