.page
	.container
		.wrapper 
			h1.h1 Вход
			.form
				form(action="")
					.form 
						.form-block 
							label.form-label Email или телефон
							input.form-input(type="text" value="" name="" placeholder="Email или телефон")
						.form-block 
							label.form-label Пароль
							input.form-input(type="password" value="" name="" placeholder="Пароль")
						.form-block.form-block_forget 
							a(href="") Забыли пароль?
						.form-buttons
							button.button(type="submit") Войти