.page
	.container
		.wrapper 
			h1.h1 Регистрация Физическое лицо:
			form(action="")
				.form 
					.form-block 
						label.form-label Фамилия
						input.form-input(type="text" value="" name="" placeholder="Фамилия")
					.form-block 
						label.form-label Имя
						input.form-input(type="text" value="" name="" placeholder="Имя")
					.form-block 
						label.form-label Отчество
						input.form-input(type="text" value="" name="" placeholder="Отчество")
					.form-block 
						label.form-label СНИЛС
						input.form-input(type="text" value="" name="" placeholder="СНИЛС")
					.form-buttons
						button.button(type="submit") Зарегистрироваться
						a.button.button_light(href="auth.html") Уже зарегистрированы? Войти