.page
	.container 
		h1.h1 Список страниц
		ul 
			li
				a(href="index.html") Главная
			li
				a(href="auth.html") Вход
			li
				a(href="reg-fiz.html") Регистрация Физическое лицо
			li
				a(href="reg-ip.html") Регистрация Индивидуальный предприниматель
			li
				a(href="reg-yur.html") Регистрация Юридическое лицо
			li
				a(href="lk.html") Личный кабинет Главная страница
			li
				a(href="profile.html") Страница профиля пользователя
			li
				a(href="form.html") Форма подачи заявки на подключение к системе теплоснабжения
			li
				a(href="statuses.html") Статус заявок и договоров
			li
				a(href="order.html") Детальная страница заявки
			li
				a(href="contract.html") Подписание договора
			li
				a(href="list-orders.html") Список заявок - оператору
			li
				a(href="detail-order.html") Детальная страница заявки - оператору
				<br><br>
			li
				a(href="forget.html") Восстановление пароля
			li
				a(href="code.html") Код подтверждения
			li
				a(href="new-password.html") Новый пароль
			li
				a(href="new-password-success.html") Пароль успешно обновлен
				<br><br>
			li 
				h3 1.1. Личный кабинет физического лица.
				a(href="form1.html") 1.1.3. 	Форма заявки на подключение к системе теплоснабжения (Заключение договора) для Физических лиц<br>
				a(href="form2.html") 1.1.4.     Форма на предоставление технических условий подключения к системе теплоснабжения
			li 
				h3 1.2. Личный кабинет Индивидуального предпринимателя.
				a(href="form3.html") Форма заявки на подключение к системе теплоснабжения (Заключение договора) для Индивидуальных предпринимателей<br>
				a(href="form4.html") Форма на предоставление технических условий подключения к системе теплоснабжения
			li 
				h3 1.2. Личный кабинет Юридического лица.
				a(href="form5.html") Форма заявки на подключение к системе теплоснабжения (Заключение договора) для Юридических лиц<br>
				a(href="form6.html") Форма на предоставление технических условий подключения к системе теплоснабжения