.page
	.container
		.wrapper 
			h1.h1 Регистрация <br>Юридическое лицо
			.form
				form(action="")
					.form 
						.form-block 
							label.form-label Фамилия
							input.form-input(type="text" value="" name="" placeholder="Фамилия")
						.form-block 
							label.form-label Имя
							input.form-input(type="text" value="" name="" placeholder="Имя")
						.form-block 
							label.form-label Отчество
							input.form-input(type="text" value="" name="" placeholder="Отчество")
						.form-block 
							label.form-label ОГРН
							input.form-input(type="text" value="" name="" placeholder="ОГРН")
						.form-block 
							label.form-label ИНН
							input.form-input(type="text" value="" name="" placeholder="ИНН")
						.form-buttons
							button.button(type="submit") Зарегистрироваться
							a.button.button_light(href="auth.html") Уже зарегистрированы? Войти