header.header.header_lk
    .container
      .header__inner
        .logo 
            a(href="/")
                img(src="./img/logo.svg" alt="")
       
        .notification 
          img(src="./img/alarm.svg" alt="")
          span 5
        .person 
          .person__name Константинопольский Константин
          .person__position Admin