.footer {
  margin-top: 3rem;
  padding: 4rem 0;
  border-top: 1px solid #fff;
  color: #fff;
  @media (max-width: $breakpoint-tablet) {
    padding: 3rem 0;
    margin-top: 1.6rem;
  }
  @media (max-width: $breakpoint-mobile) {
    border:none;
  }
 
  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;
    @media (max-width: $breakpoint-tablet) {

    }
    @media (max-width: $breakpoint-mobile) {
      justify-content: center;
    }
  }
  &__address {
    
    @media (max-width: $breakpoint-mobile) {
      display:none;
    }
  }
  
  &-menu {
    ul {
      @include ul-clean;
      display: flex;
      align-items:center;
      gap: 3rem;
      li {
        white-space: nowrap;
      }
      a {
        display:block;
        text-decoration: none;
        @include tr;
        color: rgba(255, 255, 255, 0.3);
        &:hover, &.active {
          color:#fff;
        }
        &.disabled{
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
  }
  
}
